{% extends "dashmin/index.html" %} 
{% block body %}

<section>
    <div class="container" style="margin-top: 100px;">
        <div class="d-flex justify-content-end">
                <a href="{% url 'questions' %}" class="btn btn-primary px-5 mt-3">All Questions</a>
      
        </div>
        <div class="row align-items-center">
            <form method="POST">
                {% csrf_token %}
                <div class="row align-items-center">
                  <div class="col-lg-12">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" value="{{data.question}}"  name="question" id="floatingInput1">
                        <label for="floatingInput1">Question</label>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="form-group">
                      <label for="subject">Subject</label>
                      <select class="form-select form-select-lg mb-4" id="subject" name="subject">
                        {% for subject in subjects %}
            <option value="{{subject.id}}" {% if subject.id == data.subject.id  %} selected {% endif %}>{{subject.name}}</option>
            {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="question_level">Question Level</label>
                    <select class="form-select form-select-lg mb-3" id="question_level" name="question_level">
                        <option {% if data.question_level == "Low" %} selected {% endif %} value="Low">Low</option>
                        <option {% if data.question_level == "Medium" %} selected {% endif %} value="Medium">Medium</option>
                        <option {% if data.question_level == "High" %} selected {% endif %} value="High">High</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row align-items-center mt-2">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="question_type"> Question Type </label>
                        <select class="form-select form-select-lg mb-3" id="question_type" name="question_type">
                            <option value="">------------</option>
                            <option value="MCQ" {% if data.question_type == "MCQ" %}selected{% endif %}>MCQ</option>
                            <option value="Long Answer" {% if data.question_type == "Long Answer" %}selected{% endif %}>Long Answer</option>
                          </select>
                          <div id="mcq_fields" {% if data.question_type == "MCQ" %} style="display:block" {% else %}style="display:none"{% endif %}>
                            <div class="row align-items-center">
                              <div class="btn-group" role="group">
                                <div class="col">
                                  <input type="text" class="form-control" value="{{data.mcq_option1|default:''}}" name="mcq_option1" id="mcq_option1">
                                  <label for="mcq_option1">MCQ Option 1</label>
                                  </div>
                                <div class="col">
                                  <input type="text" class="form-control" value="{{data.mcq_option2|default:''}}" name="mcq_option2" id="mcq_option2">
                                  <label for="mcq_option2">MCQ Option 2</label>
                              </div>
                                <div class="col">
                                  <input type="text" class="form-control" value="{{data.mcq_option3|default:''}}" name="mcq_option3" id="mcq_option3">
                                  <label for="mcq_option3">MCQ Option 3</label>
                              </div>
                                <div class="col">
                                  <input type="text" class="form-control" value="{{data.mcq_option4|default:''}}" name="mcq_option4" id="mcq_option4">
                                  <label for="mcq_option4">MCQ Option 4</label>
                              </div>
                                </div>
                            </div>
                            <div class="mt-2">
                              <label for="right_mcq_option">Currect MCQ Option</label>
                              <select class="form-select form-select-lg mb-3" id="right_mcq_option" name="right_mcq_option">
                                <option value="mcq_option1" {% if data.right_mcq_option == '1' %}selected{% endif %}>Option 1</option>
  <option value="mcq_option2" {% if data.right_mcq_option == 'mcq_option2' %}selected{% endif %}>Option 2</option>
  <option value="mcq_option3" {% if data.right_mcq_option == 'mcq_option3' %}selected{% endif %}>Option 3</option>
  <option value="mcq_option4" {% if data.right_mcq_option == 'mcq_option4' %}selected{% endif %}>Option 4</option>
                              </select>
                            </div>
                          </div>
                          <div id="long_text_field" {% if data.question_type == "Long Answer" %} style="display:block" {% else %}style="display:none"{% endif %}>
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" value="{{data.answer| default:""}}" name="answer" id="floatingInput">
                              <label for="floatingInput">Answer</label>
                          </div>
                        </div>
                        
                    </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary px-5 mt-3" name="submit">Save</button>
            </form>
        </div>
    </section>
    
    <script>
        const mcq_fields = document.getElementById("mcq_fields");
        const long_text_field = document.getElementById("long_text_field");
        const question_type = document.getElementById("question_type");
        question_type.addEventListener("change", function () {
          if (question_type.value === "") {
            alert("Please select Question Type.");
            question_type.focus();
            return false;
          } else if (question_type.value === "MCQ") {
            mcq_fields.style.display = "block";
            long_text_field.style.display = "none";
            mcq_fields.setAttribute("required", "");
            long_text_field.removeAttribute("required");
          } else if (question_type.value === "Long Answer") {
            long_text_field.style.display = "block";
            mcq_fields.style.display = "none";
            long_text_field.setAttribute("required", "");
            mcq_fields.removeAttribute("required");
          }
        });

        
      </script>

{% endblock %}